.btn-primary {
    background-color: black;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 20px;
    border: none;
    border-radius: 10px;
  }
  
  .btn-primary:hover {
    background-color: #32e600;
    box-shadow: 0 0 20px #32e600, 0 0 60px #32e600;
    transform: scale(1.1);
  }

  h1 {
    color:#fff
  }

.login-form {
    padding: 15px;
}

.form-container {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(102, 102, 102) ;
    border-radius: 55px;
  }