@import url("https://fonts.googleapis.com/css?family=Text+Me+One");

.omdb-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.searchedMovie {
  width: 50%;
}

ul {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

li {
  color: black;
}

.recmov p,
.recmov img {
  text-align: center;
  color: black;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://render.fineartamerica.com/images/rendered/default/print/8.000/6.125/break/images-medium-5/dark-red-brick-wall-realistic-vector-background-iam-citrus.jpg);
  background-size: cover;
} */

.neon-text {
  font-family: "Text Me One", sans-serif;
  text-align: center;
  color: #ffe6e684;
  padding: 0 3.5rem 0 3.5rem;
  -webkit-animation: text-glow 5s linear forwards;
  animation: text-glow 5s linear forwards;
}

.neon-wrapper {
  border: solid 2px #ffd8d8;
  border-radius: 1.5rem;
  -webkit-animation: border-glow 5s linear forwards;
  animation: border-glow 5s linear forwards;
}

@-webkit-keyframes text-glow {
  0% {
    text-shadow: none;
  }
  15% {
    text-shadow: 0.1vw 0vw 0.25vw #f25757, 0.2vw 0vw 0.25vw #f25757,
      0.4vw 0vw 0.25vw #f25757, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
      0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
      0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
      0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
      0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b;
  }
  17% {
    text-shadow: none;
  }
  19% {
    text-shadow: 0.1vw 0vw 0.25vw #f25757, 0.2vw 0vw 0.25vw #f25757,
      0.4vw 0vw 0.25vw #f25757, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
      0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
      0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
      0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
      0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b;
  }
  50% {
    text-shadow: none;
  }
  55% {
    text-shadow: 0.1vw 0vw 0.25vw #f25757, 0.2vw 0vw 0.25vw #f25757,
      0.4vw 0vw 0.25vw #f25757, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
      0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
      0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
      0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
      0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b;
  }
  57% {
    text-shadow: none;
  }
  65% {
    text-shadow: 0.1vw 0vw 0.25vw #8a8a8a, 0.2vw 0vw 0.25vw #656565,
      0.4vw 0vw 0.25vw #fc4848, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
      0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
      0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
      0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
      0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b;
  }
  100% {
    text-shadow: 0.1vw 0vw 0.25vw #e54848, 0.2vw 0vw 0.25vw #c42b2b,
      0.4vw 0vw 0.25vw #d22828, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
      0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
      0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
      0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
      0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b;
  }
}

@keyframes text-glow {
  0% {
    text-shadow: none;
  }
  15% {
    text-shadow: 0.1vw 0vw 0.25vw #e54848, 0.2vw 0vw 0.25vw #e54848,
      0.4vw 0vw 0.25vw #e54848, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
      0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
      0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
      0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
      0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b;
  }
  17% {
    text-shadow: none;
  }
  19% {
    text-shadow: 0.1vw 0vw 0.25vw #e54848, 0.2vw 0vw 0.25vw #e54848,
      0.4vw 0vw 0.25vw #e54848, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
      0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
      0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
      0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
      0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b;
  }
  50% {
    text-shadow: none;
  }
  55% {
    text-shadow: 0.1vw 0vw 0.25vw #e54848, 0.2vw 0vw 0.25vw #e54848,
      0.4vw 0vw 0.25vw #e54848, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
      0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
      0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
      0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
      0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b;
  }
  57% {
    text-shadow: none;
  }
  65% {
    text-shadow: 0.1vw 0vw 0.25vw #e54848, 0.2vw 0vw 0.25vw #e54848,
      0.4vw 0vw 0.25vw #e54848, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
      0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
      0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
      0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
      0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b;
  }
  100% {
    text-shadow: 0.1vw 0vw 0.25vw #e54848, 0.2vw 0vw 0.25vw #e54848,
      0.4vw 0vw 0.25vw #e54848, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
      0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
      0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
      0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
      0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
      0.4vw 0vw 10vw #e50b0b;
  }
}
@-webkit-keyframes border-glow {
  0% {
    box-shadow: none;
  }
  30% {
    box-shadow: none;
  }
  35% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
      0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
      inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  37% {
    box-shadow: none;
  }
  45% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
      0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
      inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  47% {
    box-shadow: none;
  }
  49% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
      0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
      inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  100% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
      0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
      inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
}
@keyframes border-glow {
  0% {
    box-shadow: none;
  }
  30% {
    box-shadow: none;
  }
  35% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
      0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
      inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  37% {
    box-shadow: none;
  }
  45% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
      0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
      inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  47% {
    box-shadow: none;
  }
  49% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
      0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
      inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
  100% {
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
      0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
      inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  }
}
